asgiref==3.3.1
beautifulsoup4==4.9.3
certifi==2020.12.5
click==7.1.2
Django==3.1.4
django-bootstrap4==3.0.1
django-geojson==3.1.0
django-leaflet==0.27.1
Flask==1.1.2
fontawesome-free==5.15.1
geos==0.2.2
itsdangerous==1.1.0
Jinja2==2.11.2
lxml==4.6.2
MarkupSafe==1.1.1
Pillow==8.0.1
psycopg2-binary==2.8.6
pyproj==3.0.0.post1
pytz==2020.5
soupsieve==2.2.1
sqlparse==0.4.1
Werkzeug==1.0.1
